<!DOCTYPE html>
<html lang="{{ site.locale }}">
  
  <head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="keywords" content="SIXPAD,シックスパッド,ダイエット,痩せる,ビール腹,腹筋"/>
    <meta name="description" content="{{ site.tagline-sixpad }}"/>

    <meta property="og:title" content="{{ site.title-sixpad }}" />
    <meta property="og:description" content="{{ site.tagline-sixpad }}" />
    <meta property="og:url" content="{{ site.url }}/sixpad/" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{ site.title }}" />

    <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/cayman.css">
    <link rel="icon" href="{{ site.baseurl }}/sixpad/img/favicon.jpg">

    <link rel="alternate" type="application/rss+xml" title="{{ site.title-sixpad }}" href="/sixpad/feed.xml" />

    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Blog",
          "url": "{{ site.url }}/sixpad/",
          "name": "{{ site.title-sixpad }}",
          "author": "kbysta1"
        }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-96598038-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-96598038-2');
    </script>
  </head>

  <body>
    <section class="page-header">
      <h1 class="project-name">{{ site.title-sixpad }}</h1>
      <h2 class="project-tagline">{{ site.tagline-sixpad }}</h2>
    </section>


    <section class="main-content">
      
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="{{ site.url }}/sixpad/">{{ site.title-sixpad }}</a> is maintained by <a href="{{ site.author.url }}">{{ site.author.name }}</a>.</span>
      </footer>


    </section>

  </body>
</html>
